.animated {
  --white: #141212;
  --neutral-200: #262626;
  --neutral-700: #e5e5e5;
  transition: 0.3s;
}

.folding:hover {
  background-color: var(--neutral-200) !important;
}

.folding::before {
  display: inline-block;
  content: '';
  position: absolute;
  top: -0.8px;
  right: -0.8px;
  width: 0;
  height: 0;
  transition: 0.3s;
  border-bottom-left-radius: 1px;
}

.folding::before {
  background: linear-gradient(-135deg, var(--white) 50%, var(--neutral-700) 50%);
}

.folding::after {
  background: linear-gradient(-135deg, transparent 50%, var(--neutral-700) 50%);
  filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.5));
}

.folding:hover::after,
.folding:hover::before {
  width: 1.25rem;
  height: 1.25rem;
}

.unfolding::before,
.unfolding::after {
  display: inline-block;
  content: '';
  position: absolute;
  top: -0.8px;
  right: -0.8px;
  transition: 0.4s;
  border-bottom-left-radius: 4px;
}

.unfolding::before {
  width: 28px;
  height: 28px;
  background: linear-gradient(-135deg, var(--white) 50%, var(--neutral-200) 50%);
}

.unfolding::after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 28px 0 0 28px;
  border-bottom-left-radius: 4px;
  border-color: transparent transparent var(--neutral-700) var(--neutral-700);
  filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.3));
}

.unfolding:hover::before {
  width: 0;
  height: 0;
}

.unfolding:hover::after {
  border-width: 0;
}
