.folding {
  --bg-color: #f5f5f5;
  border: 1px solid var(--bg-color);
  transition: 0.3s;
}

.folding:hover {
  background-color: var(--bg-color) !important;
}

.folding::before,
.folding::after {
  display: inline-block;
  content: '';
  position: absolute;
  top: -1px;
  right: -1px;
  width: 0;
  height: 0;
  transition: 0.3s;
}

.folding::before {
  background: linear-gradient(-135deg, white 50%, var(--bg-color) 50%);
}

.folding::after {
  border-style: solid;
  border-width: 0;
  border-bottom-left-radius: 0.125rem;
  border-color: transparent transparent var(--bg-color) var(--bg-color);
  filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.2));
}

.folding:hover::before {
  width: 1.25rem;
  height: 1.25rem;
}

.folding:hover::after {
  border-width: 1.25rem 0 0 1.25rem;
}

.unfolding::before,
.unfolding::after {
  display: inline-block;
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.4s;
}

.unfolding::before {
  width: 28px;
  height: 28px;
  background: linear-gradient(-135deg, white 50%, #404040 50%);
}

.unfolding::after {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 27.9px 0 0 27.9px;
  border-bottom-left-radius: 5px;
  border-color: transparent transparent #e5e5e5 #e5e5e5;
  filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.2));
}

.unfolding:hover::before {
  width: 0;
  height: 0;
}

.unfolding:hover::after {
  border-width: 0;
}
