<h3>수강신청</h3>
<h4>수강에 관한 내규</h4>
<div>
  <ol>
    <li>
      유사 과목 목록에 따라 중복 수강을 금지한다. (2004학번부터 적용) 컴퓨터공학부에 개설된 과목을
      타과의 유사 과목으로 대체 금지. 단, 타과 과목이 컴퓨터공학부 과목보다 심화된 과목의 경우 예외
      인정.
    </li>
    <li>
      타과과의 유사 교과목 목록<br />
      <p><br /></p>
      <table>
        <tbody>
          <tr>
            <th colspan="2"><div>컴퓨터공학부</div></th>
            <th colspan="2"><div>전기·정보공학부</div></th>
          </tr>
          <tr>
            <th><div>교과목 번호</div></th>
            <th><div>교과목명</div></th>
            <th><div>교과목 번호</div></th>
            <th><div>교과목명</div></th>
          </tr>
          <tr>
            <td>
              <div>M1522.000700<br />(4190.201)</div>
            </td>
            <td><div>논리설계</div></td>
            <td rowspan="2"><div>430.201A</div></td>
            <td rowspan="2"><div>논리설계 및 실험</div></td>
          </tr>
          <tr>
            <td><div>4190.202A</div></td>
            <td><div>논리설계실험</div></td>
          </tr>
          <tr>
            <td>
              <div>M1522.000600<br />(4190.102A)</div>
            </td>
            <td><div>컴퓨터프로그래밍</div></td>
            <td rowspan="2"><div>430.211A</div></td>
            <td rowspan="2"><div>프로그래밍방법론</div></td>
          </tr>
          <tr>
            <td><div>4190.210</div></td>
            <td><div>프로그래밍의원리</div></td>
          </tr>
          <tr>
            <td>
              <div>M1522.000900<br />(4190.204)</div>
            </td>
            <td><div>자료구조</div></td>
            <td rowspan="2">
              <div>420.210<br />430.217<br />430.329<br />430.327</div>
            </td>
            <td rowspan="2">
              <div>
                자료구조 및 알고리즘<br />자료구조의 기초<br />알고리즘의 기초<br />자료구조와
                알고리즘
              </div>
            </td>
          </tr>
          <tr>
            <td><div>4190.407</div></td>
            <td><div>알고리즘</div></td>
          </tr>
          <tr>
            <td rowspan="2"><div>4190.206A</div></td>
            <td rowspan="2"><div>전기전자회로</div></td>
            <td>
              <div>420.213<br />430.213A</div>
            </td>
            <td>
              <div>회로이론1<br />기초회로이론 및 실험</div>
            </td>
          </tr>
          <tr>
            <td>
              <div>420.207A<br />430.207B</div>
            </td>
            <td>
              <div>전자회로1<br />기초전자회로 및 실험</div>
            </td>
          </tr>
          <tr>
            <td><div>4190.307</div></td>
            <td><div>운영체제</div></td>
            <td><div>430.318</div></td>
            <td><div>운영체제의 기초</div></td>
          </tr>
          <tr>
            <td><div>4190.308</div></td>
            <td><div>컴퓨터구조</div></td>
            <td><div>430.322</div></td>
            <td><div>컴퓨터 조직론</div></td>
          </tr>
          <tr>
            <td>
              <div>M1522.002100<br />(4190.302)</div>
            </td>
            <td><div>데이터통신</div></td>
            <td><div>430.317</div></td>
            <td><div>통신의 기초</div></td>
          </tr>
          <tr>
            <td><div>4190.303C</div></td>
            <td><div>임베디드시스템과 응용</div></td>
            <td rowspan="2"><div>430.417</div></td>
            <td rowspan="2"><div>임베디드시스템설계</div></td>
          </tr>
          <tr>
            <td><div>4190.309A</div></td>
            <td><div>하드웨어시스템설계</div></td>
          </tr>
          <tr>
            <td><div>4190.411</div></td>
            <td><div>컴퓨터네트워크</div></td>
            <td><div>430.463</div></td>
            <td><div>데이터통신망의 기초</div></td>
          </tr>
          <tr>
            <td><div>4190.416A</div></td>
            <td><div>디지털신호처리</div></td>
            <td><div>430.461</div></td>
            <td><div>디지털신호처리의 기초</div></td>
          </tr>
          <tr>
            <td><div>4190.409</div></td>
            <td><div>컴파일러</div></td>
            <td><div>430.414</div></td>
            <td><div>컴파일러의 기초</div></td>
          </tr>
          <tr>
            <td>
              <div>M1522.000200<br />(4190.311A)</div>
            </td>
            <td>
              <div>창의적통합설계1<br />(프로젝트1)</div>
            </td>
            <td rowspan="2"><div>430.405</div></td>
            <td rowspan="2"><div>전기공학설계프로젝트</div></td>
          </tr>
          <tr>
            <td>
              <div>M1522.000300<br />((4190.413A)</div>
            </td>
            <td>
              <div>창의적통합설계2<br />(프로젝트2)</div>
            </td>
          </tr>
        </tbody>
      </table>
      <table>
        <tbody>
          <tr>
            <th colspan="2"><div>컴퓨터공학부</div></th>
            <th colspan="2"><div>산업공학과</div></th>
          </tr>
          <tr>
            <th><div>교과목 번호</div></th>
            <th><div>교과목명</div></th>
            <th><div>교과목 번호</div></th>
            <th><div>교과목명</div></th>
          </tr>
          <tr>
            <td><div>4190.418A</div></td>
            <td><div>웹정보시스템</div></td>
            <td><div>406.424A</div></td>
            <td><div>전자상거래</div></td>
          </tr>
          <tr>
            <td>
              <div>M1522.001800<br />(4190.301)</div>
            </td>
            <td><div>데이터베이스</div></td>
            <td>
              <div>406.426<br />406.426A<br />406.426B</div>
            </td>
            <td>
              <div>데이터베이스분석및설계<br />데이터베이스 시스템<br />데이터관리와 분석</div>
            </td>
          </tr>
        </tbody>
      </table>
    </li>
  </ol>
</div>
<div>
  <ol>
    <li>
      수강 신청 수강 신청은 1학기 (당해 연도 1월 또는 2월 중) 2학기 (당해 연도 7월 또는 8월 중)
    </li>
    <li>수강 변경은 매 학기 수업 주수 1주 이내 (6학점 이내)</li>
    <li>수강 취소는 수업 주수 2/4선 이내</li>
    <li>
      수강 신청 학점 (학기 당)은 18학점 이내
      <ol>
        <li>직전 2개 학기 평점 평균이 3.3 이상일 때 21학점까지 신청할 수 있음</li>
        <li>
          직전 학기 학사 경고 (한 학기 성적 평점 평균이 1.7에 미달되거나 3 교과목 이상 또는 6학점
          이상이 'F')를 받은 경우는 학기당 15학점까지만 수강 신청 가능
        </li>
      </ol>
    </li>
  </ol>
  <div>
    <h3>휴학</h3>
    <p>
      학생의 개인적인 사정(질병, 군복무, 기타 부득이한 사유)으로 휴학하고자 할 때에는 매 학기 소정의
      기간 내에 학장에게 휴학 신청을 하여 허가를 받아야 하며, 휴학 허가 기간은 1년 이내로 합니다.
    </p>
    <div>
      <p>휴학의 종류 및 제출서류</p>
      <!-- 표영역 -->
      <div>
        <div>
          <strong>휴학의 종류 및 제출서류</strong>
          <p>휴학종류, 신청기한, 제출서류, 비고을 포함하는 표</p>
          <table>
            <thead>
              <tr>
                <th>종류</th>
                <th>신청기한</th>
                <th>제출서류</th>
                <th>비고</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="col-cate">가사휴학</td>
                <td>미등록: 수업일수 4분의1 이내<br />등록후: 수업일수 4분의2 이내</td>
                <td>별도 서류 없음<br />(온라인 승인 미설정 대상일 경우 신청서 출력)</td>
                <td>-</td>
              </tr>
              <tr>
                <td class="col-cate">임신·출산 휴학</td>
                <td rowspan="4">개강일로부터 종강일 이내</td>
                <td>임신·출산 확인 가능 서류</td>
                <td>출산 후 3개월 이내 가능</td>
              </tr>
              <tr>
                <td class="col-cate">육아휴학</td>
                <td>주민등록표등본 또는 가족관계증명서</td>
                <td>만 8세이하 또는<br />초등학교 2학년 이하의 자녀</td>
              </tr>
              <tr>
                <td class="col-cate">창업휴학</td>
                <td>사업계획서, 사업자등록증 또는 법인등기부등본</td>
                <td></td>
              </tr>
              <tr>
                <td class="col-cate">질병휴학</td>
                <td>
                  ‘학업수행이 어렵다’는 내용이 포함된<br />치료기간 4주 이상의 종합병원 진단서
                </td>
                <td>
                  수업일수 4분의3 이후 신청 시<br />정기적 치료를 확인할 수 있는<br />진료확인서
                  추가 제출
                </td>
              </tr>
              <tr>
                <td class="col-cate" rowspan="2">군휴학</td>
                <td>종강일 전 입대:<br />입영일 2주 전부터 종강일 까지</td>
                <td>-</td>
                <td>-</td>
              </tr>
              <tr>
                <td>종강일 후 입대:<br />종강일 이후 다음 학기 휴학으로 처리</td>
                <td>입영통지서, 병역증 또는 복무확인서</td>
                <td>당해학기 및 취득학점 인정학기 개시 전<br />귀가조치된 경우 군휴학을 취소</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div>
        <p>가사휴학</p>
        <div>
          <strong>가사휴학 제출서류</strong>
          <p>신청기한, 제출서류를 포함하는 표</p>
          <table>
            <thead>
              <tr>
                <th>신청기한 및 제출서류</th>
                <th>설명</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="col-cate">신청기한</th>
                <td>미등록: 수업일수 4분의1 이내<br />등록후: 수업일수 4분의2 이내</td>
              </tr>
              <tr>
                <th class="col-cate">제출서류</th>
                <td>별도 서류 없음<br />(온라인 승인 미설정 대상일 경우 신청서 출력)</td>
              </tr>
            </tbody>
          </table>
        </div>
        <p>임신·출산 휴학</p>
        <div>
          <strong>임신·출산 휴학 제출서류</strong>
          <p>신청기한, 제출서류, 비고를 포함하는 표</p>
          <table>
            <thead>
              <tr>
                <th>신청기한 및 제출서류, 비고</th>
                <th>설명</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="col-cate">신청기한</th>
                <td>개강일로부터 종강일 이내</td>
              </tr>
              <tr>
                <th class="col-cate">제출서류</th>
                <td>임신·출산 확인 가능 서류</td>
              </tr>
              <tr>
                <th class="col-cate">비고</th>
                <td>출산 후 3개월 이내 가능</td>
              </tr>
            </tbody>
          </table>
        </div>
        <p>육아휴학</p>
        <div>
          <strong>육아휴학 제출서류</strong>
          <p>신청기한, 제출서류, 비고를 포함하는 표</p>
          <table>
            <thead>
              <tr>
                <th>신청기한 및 제출서류, 비고</th>
                <th>설명</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="col-cate">신청기한</th>
                <td>개강일로부터 종강일 이내</td>
              </tr>
              <tr>
                <th class="col-cate">제출서류</th>
                <td>주민등록표등본 또는 가족관계증명서</td>
              </tr>
              <tr>
                <th class="col-cate">비고</th>
                <td>만 8세이하 또는 초등학교 2학년 이하의 자녀</td>
              </tr>
            </tbody>
          </table>
        </div>
        <p>창업휴학</p>
        <div>
          <strong>창업휴학 제출서류</strong>
          <p>신청기한, 제출서류, 비고를 포함하는 표</p>
          <table>
            <thead>
              <tr>
                <th>신청기한 및 제출서류, 비고</th>
                <th>설명</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="col-cate">신청기한</th>
                <td>개강일로부터 종강일 이내</td>
              </tr>
              <tr>
                <th class="col-cate">제출서류</th>
                <td>사업계획서. 사업자등록증 또는 법인등기부등본</td>
              </tr>
            </tbody>
          </table>
        </div>
        <p>질병휴학</p>
        <div>
          <strong>질병휴학 제출서류</strong>
          <p>신청기한, 제출서류, 비고를 포함하는 표</p>
          <table>
            <thead>
              <tr>
                <th>신청기한 및 제출서류, 비고</th>
                <th>설명</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="col-cate">신청기한</th>
                <td>개강일로부터 종강일 이내</td>
              </tr>
              <tr>
                <th class="col-cate">제출서류</th>
                <td>
                  “학업수행이 어렵다”는 내용이<br />포함된 치료기간 4주 이상의 종합병원 진단서
                </td>
              </tr>
              <tr>
                <th class="col-cate">비고</th>
                <td>
                  수업일수 4분의3 이후 신청 시 정기적<br />치료를 확인할 수 있는 진료확인서 추가
                  제출
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <p>군휴학</p>
        <div>
          <strong>군휴학 제출서류</strong>
          <p>신청기한, 제출서류, 비고를 포함하는 표</p>
          <table>
            <thead>
              <tr>
                <th>신청기한 및 제출서류, 비고</th>
                <th>설명</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="col-cate">신청기한</th>
                <td>
                  종강일 전 입대: 입영일 2주 전부터 종강일 까지종강일 후 입대: 종강일 이후 다음 학기
                  휴학으로 처리
                </td>
              </tr>
              <tr>
                <th class="col-cate">제출서류</th>
                <td>입영통지서, 병역증 또는 복무확인서</td>
              </tr>
              <tr>
                <th class="col-cate">비고</th>
                <td>
                  종강일 후 입대: 당해학기 및 취득학점 인정학기 개시 전 귀가조치된 경우 군휴학을
                  취소
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <p>※ 신입생의 휴학: 입학일(3월 1일, 9월 1일) 이후부터 신청 가능</p>
    </div>
    <div>
      <!-- 휴학기간 -->
      <div>
        <p>휴학기간</p>
        <div>
          <p>학사과정: 6학기(예과과정 및 편입학 3학기)</p>
          <p>
            석사과정: 4학기(치의학대학원, 의학대학원, <br />법학전문대학원: 6학기, 경영전문대학원:
            8학기)
          </p>
          <p>박사과정: 6학기(법학전문대학원 4학기)</p>
          <p>학사·석사통합과정: 10학기(치의대학원은 학사, 전문석사과정 각 6학기)</p>
          <p>석사·박사 통합과정: 8학기</p>
          <p>복합학위과정: 10학기</p>
          <p>※ 상기 기간을 초과할 수 없으며, 이를 위반할 때에는 제적합니다.</p>
          <p>
            ※ 휴학연한에 산입되지 않는 휴학: 군휴학(병역의무 기간이 포함된 학기), 임신·출산휴학
            2학기, 육아휴학 4학기, 질병휴학 4학기, 창업휴학 4학기
          </p>
        </div>
      </div>
      <!-- 휴학허가기간 -->
      <div>
        <p>휴학 허가 기간</p>
        <div>
          <p>2개 학기 이내(군 휴학은 병역법상 복무의무기간)</p>
          <p>
            ※ 2개 학기 휴학 종료 후 휴학을 연장하고자 할 경우에는 다시 휴학신청서를 제출하여야
            합니다.
          </p>
          <p>유의사항</p>
          <p>
            - 휴학 허가기간 종료 후 복학 또는 휴학기간 연장을 위한 신청을 하지 않으면 제적됩니다.
          </p>
          <p>
            - 휴학 후 군입대자는 군입대일로부터 6개월 이내에 복무확인서를 소속 대학(원) 행정실을
            경유하여 학사과에 제출하여야 합니다.(군 휴학으로 전환 처리)
          </p>
        </div>
      </div>
      <!-- 신청절차 -->
      <div>
        <p>휴학 신청절차</p>
        <div>
          <p>서울대학교 포털 로그인 → 학적변동 신청 → 휴학신청</p>
          <p>유의사항</p>
          <p>
            - 관련 증빙서류를 제출하지 않을 경우 휴학신청이 취소 처리될 수 있으니 유의 바랍니다.
          </p>
        </div>
      </div>
      <!-- 성적처리 -->
      <div>
        <p>성적처리</p>
        <div>
          <p>
            학기 중 휴학한 학생의 성적은 그 교과의 수강신청을 취소한 것으로 간주하여 본인이 취소하지
            않더라도 자동으로 취소됩니다.<br />종강일 이후 군복무(또는 군 대체복무)를 위하여
            휴학하는 경우에는 그 성적을 인정합니다.
          </p>
        </div>
      </div>
      <!-- 등록금 납부 -->
      <div>
        <p>휴학 시 등록금 납부</p>
        <div>
          <p>등록금을 납부하지 않고 휴학할 경우</p>
          <p>
            - 등록기간 종료 전에 휴학허가를 받은 학생은 해당 학기 등록금을 납부하지 않아도 됩니다.
          </p>
          <p>등록금을 납부하고 휴학할 경우</p>
          <p>
            - 휴학 신청 시 등록금 반환 신청을 하지 않을 경우, 납부한 등록금 전액이 복학한 학기에
            이월됩니다.
          </p>
          <p>
            - 휴학 신청 시 등록금 반환을 신청할 경우, 휴학 신청일자에 따라 등록금 전액 또는 일부가
            반환됩니다. 단, 신입생 첫 학기에 납부한 등록금은 휴학 사유로 인한 반환 신청이
            불가합니다.
          </p>
          <p>※ 분납신청자의 경우 등록금 완납 후 휴학신청 가능</p>
          <p>※ 신입생 첫 학기에 납부한 등록금은 휴학 사유로 인한 반환 신청 불가</p>
          <p>
            휴학 신청일자에 따른 등록금 반환 비율 구분 (서울대학교 학적변동자에 대한 등록금 반환
            지침 제2조)
          </p>
          <div>
            <div>
              <strong>휴학 신청일자에 따른 등록금 반환 비율 구분</strong>
              <p>반환사유 발생일, 반환금을 포함하는 표</p>
              <table>
                <thead>
                  <tr>
                    <th>반환사유 발생일</th>
                    <th>반환금</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>학기 개시일 전 일까지</td>
                    <td>등록금 전액</td>
                  </tr>
                  <tr>
                    <td>학기 개시일부터 30일까지</td>
                    <td>입학금을 제외한 등록금의 5/6</td>
                  </tr>
                  <tr>
                    <td>학기 개시일에서 30일이 지난 날부터 60일까지</td>
                    <td>입학금을 제외한 등록금의 2/3</td>
                  </tr>
                  <tr>
                    <td>학기 개시일에서 60일이 지난 날부터 90일까지</td>
                    <td>입학금을 제외한 등록금의 1/2</td>
                  </tr>
                  <tr>
                    <td>학기 개시일에서 90일이 지난 날</td>
                    <td>반환하지 않음</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h3>졸업규정</h3>
    <p>
      ​<a href="https://cse-dev-waffle.bacchus.io/academics/undergraduate/degree-requirements"
        >참조</a
      >​
    </p>
  </div>
  <div>
    <h3>복수전공</h3>
    <p class="title-desc">
      학생이 소속된 학과(부)의 전공과정을 포함하여 2개 이상의 전공과정을 이수하는 과정을 말합니다.
    </p>
    <div class="content-wrap">
      <!-- 신청자격 -->
      <div class="sub-content">
        <p class="common-smalltitle">신청자격</p>
        <div class="sub-desc">
          <p class="dot-list">
            복수전공의 신청은 2개 정규학기 이상 이수하고 33학점 이상 취득한 이후에 신청할 수
            있습니다.
          </p>
          <p class="dot-list">
            복수전공을 이수하고자 하는 자는 신청 기간에 서울대학교 포털 mySNU 혹은 서울대학교 App을
            통해 신청하여야 합니다.
          </p>
        </div>
      </div>
      <!-- 신청절차 -->
      <div class="sub-content">
        <p class="common-smalltitle">신청절차</p>
        <div class="sub-desc">
          <p class="dot-list">
            대학 내 복수전공인 경우에는 소속 학과(부)장 승인 후 소속 학과(부)장의 승인을 받아
            학장에게 제출합니다.
          </p>
          <p class="dot-list">
            대학 간 복수전공인 경우에는 소속 학과(부)장의 승인을 받아 학장을 경유하여 복수전공을
            이수하고자 하는 대학에 제출합니다.
          </p>
          <p class="dot-list">
            복수전공 이수 신청을 받은 학장은 정해진 기일 내에 복수전공 이수자를 선발하여 총장에게
            보고하여야 합니다.
          </p>
        </div>
      </div>
      <!-- 재학연한 연장 -->
      <div class="sub-content">
        <p class="common-smalltitle">재학연한 연장</p>
        <div class="sub-desc">
          <p class="dot-list">복수전공 이수자의 재학연한은 최대 1년에 한하여 연장할 수 있습니다.</p>
        </div>
      </div>
      <!-- 취소절차 -->
      <div class="sub-content">
        <p class="common-smalltitle">취소절차</p>
        <div class="sub-desc">
          <p class="dot-list">
            대학 내 복수전공인 경우에는 소속 학과(부)장의 승인을 받아 학장에게 제출합니다.
          </p>
          <p class="dot-list">
            대학 간 복수전공인 경우에는 소속 학과(부)장의 승인을 받아 학장을 경유하여 복수전공을
            이수하는 대학에 제출합니다.
          </p>
          <p class="dot-list">
            복수전공 취소 신청을 받은 학장은 정해진 기일 내에 복수전공 이수자를 취소하여 총장에게
            보고하여야 합니다.
          </p>
        </div>
      </div>
      <!-- 선발인원 및 과정이수 학점 -->
      <div class="sub-content">
        <p class="common-smalltitle">선발인원 및 과정이수 학점</p>
        <div class="sub-desc">
          <p class="dot-list">
            복수전공 이수자의 연간 선발인원은 학과(부)별 3학년 정원의 2배 이내를 원칙으로 합니다.<br />다만,
            학과(부) 교육여건을 감안하여 총장의 승인을 얻어 정원의 2배를 초과하여 선발할 수
            있습니다.
          </p>
          <p class="dot-list">
            복수전공 이수자는 전공학점을 39학점 이상 이수하여야 하고, 성적 평점평균이 2.0 이상이어야
            합니다.
          </p>
          <p class="dot-list">
            복수전공 이수자가 해당하는 전공을 이수하기 전에 이수한 관련 전공교과목은 전공학점으로
            인정합니다.
          </p>
        </div>
      </div>
      <!-- 교과목 중복인정 -->
      <div class="sub-content">
        <p class="common-smalltitle">교과목 중복인정</p>
        <div class="sub-desc">
          <p class="dot-list">
            복수전공 학과(부)와 학생의 소속 학과(부)에서 공통으로 인정하는 전공과목(대학 내
            공통교과목 포함) 9학점까지, 복수전공 학과(부)와 학생의 소속 학과(부)에서 공통으로
            인정하는 타 학과(부) 교과목(대학 내 공통교과목 포함)은 3학점까지 중복 인정할 수
            있습니다.
          </p>
        </div>
      </div>
      <!-- 졸업증서 등의 기재 -->
      <div class="sub-content">
        <p class="common-smalltitle">졸업증서 등의 기재</p>
        <div class="sub-desc">
          <p class="dot-list">
            복수전공을 이수하였을 때에는 졸업증서 및 학적부에 그 사실을 기재하며, 이수한 전공마다
            별도의 졸업증서를 수여하지 않습니다.<br />예)위 사람은 인문대학 중어중문학과와
            사회과학대학 외교학과에서 소정의 과정을 이수하고 규정된 논문과 시험에 합격하여 문학사 및
            정치학사의 자격을 갖추었으므로 이를 인정함.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h3>부전공</h3>
    <p class="title-desc">
      학생이 소속한 학과(부) 이외의 전공과정을 21학점 이상 이수하는 것을 말합니다.
    </p>
    <div class="content-wrap">
      <!-- 신청자격 -->
      <div class="sub-content">
        <p class="common-smalltitle">신청자격</p>
        <div class="sub-desc">
          <p class="dot-list">
            부전공의 신청은 2개 정규학기 이상 이수하고 33학점 이상 취득한 이후에 신청할 수 있습니다.
          </p>
          <p class="dot-list">
            부전공을 이수하고자 하는 자는 신청 기간에 서울대학교 포털 mySNU 혹은 서울대학교 App을
            통해 신청하여야 합니다.
          </p>
        </div>
      </div>
      <!-- 신청절차 -->
      <div class="sub-content">
        <p class="common-smalltitle">신청절차</p>
        <div class="sub-desc">
          <p class="dot-list">
            대학 내 부전공인 경우에는 소속 학과(부)장의 승인을 받아 학장에게 제출합니다.
          </p>
          <p class="dot-list">
            대학 간 부전공인 경우에는 소속 학과(부)장의 승인을 받아 학장을 경유하여 부전공을
            이수하고자 하는 대학에 제출합니다.
          </p>
          <p class="dot-list">
            부전공 이수 신청을 받은 학장은 정해진 기일 내에 부전공 이수자를 선발하여 총장에게
            보고하여야 합니다.
          </p>
        </div>
      </div>
      <!-- 취소절차 -->
      <div class="sub-content">
        <p class="common-smalltitle">취소절차</p>
        <div class="sub-desc">
          <p class="dot-list">
            대학 내 부전공인 경우에는 소속 학과(부)장의 승인을 받아 학장에게 제출합니다.
          </p>
          <p class="dot-list">
            대학 간 부전공인 경우에는 소속 학과(부)장의 승인을 받아 학장을 경유하여 부전공을
            이수하는 대학에 제출합니다.
          </p>
          <p class="dot-list">
            부전공 취소 신청을 받은 학장은 정해진 기일 내에 부전공 이수자를 취소하여 총장에게
            보고하여야 합니다.
          </p>
        </div>
      </div>
      <!-- 선발인원 및 과정이수 학점 -->
      <div class="sub-content">
        <p class="common-smalltitle">선발인원 및 과정이수 학점</p>
        <div class="sub-desc">
          <p class="dot-list">
            부전공 이수자의 연간 선발인원은 학과(부)별 3학년 정원의 2배 이내를 원칙으로 합니다.<br />다만,
            학과(부) 교육여건을 감안하여 총장의 승인을 얻어 정원의 2배를 초과하여 선발할 수
            있습니다.
          </p>
          <p class="dot-list">
            부전공 이수자는 전공학점을 21학점 이상 이수하여야 하고, 성적 평점평균이 2.0 이상이어야
            합니다.
          </p>
          <p class="dot-list">
            부전공 이수자가 해당하는 전공을 이수하기 전에 이수한 관련 전공교과목은 전공학점으로
            인정합니다.
          </p>
        </div>
      </div>
      <!-- 교과목 중복인정 -->
      <div class="sub-content">
        <p class="common-smalltitle">교과목 중복인정</p>
        <div class="sub-desc">
          <p class="dot-list">부전공 이수의 경우 동일 교과목을 중복하여 인정하지 않습니다.</p>
        </div>
      </div>
      <!-- 졸업증서 등의 기재 -->
      <div class="sub-content">
        <p class="common-smalltitle">졸업증서 등의 기재</p>
        <div class="sub-desc">
          <p class="dot-list">
            부전공을 이수하였을 때에는 졸업증서 및 학적부에 그 사실을 기재하며, 이수한 전공마다
            별도의 졸업증서를 수여하지 않습니다.<br />예) 위 사람은 인문대학 철학과(경영학
            부전공)에서 소정의 과정을 이수하고 규정된 논문과 시험에 합격하여 문학사의 자격을
            갖추었으므로 이를 인정함.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div>
    <h3>전과(부) 신청</h3>
    <p class="title-desc">
      전과(부)(이하 ‘전과’라 한다)란 학사과정 학생이 학과(부) 또는 전공(이하 ‘학과’라 한다) 소속을
      변경하여 다른 학과에 소속함을 말합니다.
    </p>
    <div class="common-btn-wrap">
      <a
        href="/webdata/uploads/kor/file/2020/01/dept_transfer_down.hwp"
        target="_blank"
        rel="noopener noreferrer"
        class="common-btn-down sm"
        download=""
        title="새창으로 열림"
        >전과(부)지원서 다운로드</a
      >
    </div>
    <div class="content-wrap">
      <!-- 허용범위 -->
      <div class="sub-content">
        <p class="common-smalltitle">허용범위</p>
        <div class="sub-desc">
          <p class="dot-list">전과(부)를 허용하는 범위는 다음과 같습니다.</p>
          <p class="line-list">- 사범대학은 사범대학 내의 각 학과</p>
          <p class="line-list">
            - 사범대학 이외의 학과는 사범대학 이외의 각 학과<br />단, 의과대학, 수의과대학 및
            간호대학으로의 전입은 불가
          </p>
          <p class="line-list">
            - 전출 및 전입 인원은 각각 모집단위별 입학정원의 100분의 20 이내에서 총장의 승인을 받아
            대학장이 따로 정할 수 있습니다.
          </p>
          <p class="tip">
            ※ 약학대학 전입 인원은 편입학 인원을 포함하여 약학대학 입학정원을 초과할 수 없습니다.
          </p>
          <p class="line-list">
            - 전과를 하고자 하는 학생은 한 개의 학과를 정하여 지원하여야 하며, 이중으로 지원한
            경우에는 지원 전부를 무효로 합니다.
          </p>
          <p class="dot-list list-title">제한</p>
          <p class="line-list">
            - 전공을 예약하고 입학한 학생, 편입학한 학생 및 치의학대학원 학사·전문석사통합과정
            학사과정 학생(학사·전문석사통합과정 중도포기 또는 탈락자를 포함한다)은 전과를 할 수
            없습니다.
          </p>
        </div>
      </div>
      <!-- 지원시기 및 지원자격 -->
      <div class="sub-content">
        <p class="common-smalltitle">지원시기 및 지원자격</p>
        <div class="sub-desc">
          <p class="dot-list dlist-title">시기</p>
          <p class="line-list">- 전과의 지원 시기는 매 학년도 말로 합니다.</p>
          <p class="dot-list list-title">자격</p>
          <p class="line-list">
            - 전과 지원자격은 4개 정규학기 이상 등록하고, 65학점 이상을 취득한 학생으로 합니다.
            다만, 폐지된 모집단위 소속 재적생이 전과를 지원하는 경우에는 예외로 할 수 있습니다.
          </p>
          <p class="tip">
            ※ 의과대학 및 수의과대학 학생의 경우에는 예과과정 등록학기 및 이수학점을 합산하여 전과를
            지원할 수 있습니다.
          </p>
          <p class="dot-list list-title">인원산정</p>
          <p class="line-list">
            - 전출 및 전입 인원은 각각 모집단위별 입학정원의 100분의 20 이내에서 총장의 승인을 받아
            대학장이 따로 정하며, 구체적인 계획과 기준은 매 학년도 말 1개월 전까지 수립하여 소속대학
            홈페이지에 게시합니다.
          </p>
          <p class="dot-list list-title">원서제출</p>
          <p class="line-list">
            - 서울대학교 포털 마이스누 → 학사정보 → 학적변동/다전공 → 신청 → 전과
          </p>
          <p class="line-list">
            - 희망자는 소속 학과(부)장의 승인을 받아 전과 지원서에 성적증명서 등 정해진
            서류(제출서류는 전출 및 전입학과에 문의)를 첨부하여 소속 대학장에게 제출하여야 합니다.
          </p>
          <p class="tip">
            ※ 전출 지원 기간 내에 온라인 전과 신청을 완료하여야 하며, 전출 승인된 학생에 한해서 전입
            선발 가능
          </p>
        </div>
      </div>
      <!-- 학적사항 -->
      <div class="sub-content">
        <p class="common-smalltitle">학적사항</p>
        <div class="sub-desc">
          <p class="dot-list">전과한 학생의 재학연한 등 학적사항은 전과 이전의 것을 통산합니다.</p>
        </div>
      </div>
      <!-- 교과이수 -->
      <div class="sub-content">
        <p class="common-smalltitle">교과이수</p>
        <div class="sub-desc">
          <p class="dot-list">
            전과한 후의 교과목 이수는 전입한 학과의 교과이수원칙에 따라야 합니다.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
