/* TODO: 안맞는 스타일을 고치기 위한 흑마법 */
.sun-editor-editable table tbody tr td p,
.sun-editor-editable table tbody tr td div {
  margin-bottom: 5px;
  text-align: center;
}

.sun-editor-editable table tbody tr ul {
  width: 350px;
}
