.tri {
  display: inline-block;
  width: 150px;
  height: 150px;
  color: orange;
  filter: url('#goo');
}

.tri::before {
  content: '';
  display: block;
  padding-top: 86%;
  background: currentColor;
  box-shadow: 1px 4px 4px #000;
  clip-path: polygon(0 0, 100% 100%, 0 100%);
}
