@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --main-orange: #f98438;
  --dark-orange: #cf5c10;
  --gray0: #f4f4f4;
  --gray1: #dddddd;
  --gray2: #bebebe;
}

@layer base {
  html,
  body {
    @apply h-full;
  }

  button {
    @apply border border-gray-dark rounded hover:bg-gray-dark; /* 디자인 제대로 나오면 수정 */
  }
}
